<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course Detail</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/teacher/course_detail.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class=" navbar-collapse ">
                <div>
                    <a class="navbar-brand" href="/student/home">&nbsp;
                        <img src="/image/2.png" width="30" height="30" alt="">
                        MSIMS
                    </a>
                </div>
                <div>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="course" role="button"
                               data-toggle="dropdown">
                                Course
                            </a>
                            <div class="dropdown-menu" aria-labelledby="course">
                                <div th:each="course : ${courses}">
                                    <a class="dropdown-item" th:text="${course.courseCode} + ' ' + ${course.courseName}"
                                       th:href="@{'/student/' + ${course.courseCode} + '/course-detail'}">
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userIdDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${userId}">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userIdDropdown">
                            <a class="dropdown-item text" href="/auth/logout">Logout</a>
                        </div>
                    </li>&nbsp;
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4" th:text="${course.getCourseName()}"></h1>
                <p class="lead" th:text="${course.getDescription()}"></p>
            </div>
        </div>

        <div id="table" class="container-fluid">
            <div class="row">
                <div id="component" class="col-6">
                    <div class="alert alert-secondary" role="alert">
                        <h4>Course material</h4>
                    </div>
                    <div>
                        <ul class="list-group list-group-flush" style="border: 0 solid transparent" th:each="component : ${fileMap}">
                            <li class="list-group-item">
                                <div class="card">
                                    <div class="card-header" th:text="${component.getKey().type}"></div>
                                    <div class="card-body">
                                        <div>
                                            <table class="table" th:each="file : ${component.getValue()}">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a th:href="@{'/file/download/' + ${file.getFileId()}}">
                                                                <img src="/image/1.png" width="20" height="20" alt="file"
                                                                     th:text="${' ' + file.getName()}">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </li>&nbsp;
                        </ul>
                    </div>
                    <div class="alert alert-secondary" role="alert">
                        <h4>Assessment</h4>
                    </div>
                    <div th:if="${assessmentMap.size()} ne 0">
                        <ul class="list-group list-group-flush" th:each="assessment : ${assessmentMap}">
                            <li class="list-group-item">
                                <div class="card">
                                    <div class="card-header" th:text="${files.get(assessment.getKey().fileId).name}"></div>
                                    <div class="card-body">
                                        <h5 class="card-title"></h5>
                                        <p class="card-text">
                                            <a th:href="@{'/file/download/' + ${assessment.getKey().getFileId()}}">
                                                <img src="/image/1.png" width="50" height="50" alt="file">
                                            </a>
                                        </p>
                                    </div>
                                    <div style="margin-left: 2%; margin-right: 2%">
                                        <form>
                                            <input type="hidden" class="form-control" name="assignmentId"
                                                   th:value="${assessment.getKey().assignmentId}">
                                            <input type="hidden" class="form-control" name="submissionId"
                                                   th:value="${assessment.getKey().id}">
                                            <label for="score2"></label>
                                            <input type="number" id="score2" class="form-control" name="score"
                                                   step="0.01" min="0" max="100" th:value="${assessment.getValue().score}"
                                                   disabled>
                                            <label for="comment2"></label>
                                            <textarea class="form-control" name="comment" id="comment2"
                                                      th:text="${assessment.getValue().comment}"
                                                      style="white-space: pre-wrap;"
                                                      rows="3" disabled>
                                        </textarea><br>
                                        </form><br>
                                        <p class="text-right" th:text="${assessment.getValue().getDate()}"></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-2"></div>
                <div id="side" class="col">
                    <div id="bulletin-board">
                        <div class="card border-secondary mb-3" style="width: 30rem;">
                            <div class="card-header">
                                Bulletin Board
                            </div>
                            <div class="card-body text-secondary">
                                <ul class="list-group list-group-flush" th:each="message : ${messages}">
                                    <li class="list-group-item">
                                        <div>
                                            <p class="mb-1" th:text="${message.content}"></p>
                                            <p class="text-right" th:text="${message.date}"></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="card border-secondary mb-3" style="width: 30rem;">
                            <div class="card-header">
                                Assignment
                            </div>
                            <div class="card-body text-secondary">
                                <ul class="list-group list-group-flush" th:each="assignment : ${assignmentMap}">
                                    <li class="list-group-item">
                                        <a th:href="@{'/file/download/' + ${assignment.getKey().fileId}}">
                                            <img src="/image/1.png" width="20" height="20" alt="file"
                                                 th:text="${' ' + assignment.getValue().name}">
                                        </a><br>
                                        <a data-toggle="collapse" aria-expanded="false" th:href="'#submit' + ${assignmentStat.index}"
                                           th:if="${submittedAnswer.get(assignment.getKey().id)} eq null">
                                            <img src="/image/enter.png" width="20" height="20" alt="">
                                            Submit
                                        </a>
                                        <div class="collapse multi-collapse" th:id="'submit' + ${assignmentStat.index}">
                                            <div style="width: 90%; margin-left: 2%; margin-right: 2%"><br>
                                                <form action="" th:action="@{'/student/' + ${courseCode} + '/' + ${assignment.getKey().id}
                                                + '/upload-file'}" enctype="multipart/form-data" method="post">
                                                    <input type="file" name="file" class="form-control"><br>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form><br>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="list-group">
                        <div class="card border-secondary mb-3" style="width: 30rem;">
                            <div class="card-header">
                                <a th:href="@{'/student/' + ${courseCode} + '/discussion'}">Discussion</a>
                            </div>
                            <div class="card-body text-secondary">
                                <ul class="list-group list-group-flush" th:each="dis : ${discussion}">
                                    <li class="list-group-item">
                                        <p class="card-text" th:text="${dis.title}"></p>
                                        <p class="text-right" th:text="${dis.date}"></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"
            integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9+4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>