<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MUST SIMS</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<script type="text/javascript" src="/js/ajax.js"></script>-->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class=" navbar-collapse">
            <div>
                <a class="navbar-brand" href="/">&nbsp;
                    <img src="/image/2.png" width="30" height="30" alt="">
                    Must SIMS
                </a>
            </div>
            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">&nbsp;COES</a>
                    </li>&nbsp;
                    <li class="nav-item active">
                        <a class="nav-link" href="#">&nbsp;Moodle</a>
                    </li>&nbsp;
                    <li class="nav-item active">
                        <a class="nav-link" href="#">&nbsp;TOS</a>
                    </li>&nbsp;
                    <li class="nav-item active">
                        <a class="nav-link" href="#">&nbsp;Student Portal</a>
                    </li>&nbsp;
                </ul>
            </div>
        </div>
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:text="${userId}">
                    </a>
                </li>&nbsp;
            </ul>
        </div>
    </nav>

    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

</body>
</html>
