<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Assessment</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/teacher/course_detail.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class=" navbar-collapse ">
                <div>
                    <a class="navbar-brand" href="#">&nbsp;
                        <img src="/image/2.png" width="30" height="30" alt="">
                        Moodle
                    </a>
                </div>
                <div>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="course" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Course
                            </a>
                            <div class="dropdown-menu" aria-labelledby="course">
                                <a class="dropdown-item" href="/teacher/courses">My Course</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/student/gpa">My GPA</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/course/gpa">My Homework</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">My Assessment</a>
                            </div>
                        </li>
                        <li class="nav-item active dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="message" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Message
                            </a>
                            <div class="dropdown-menu" aria-labelledby="message">
                                <a class="dropdown-item" href="/course/courses">Bulletin Board</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/course/gpa">Discussion</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userIdDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${userId}">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userIdDropdown">
                            <a class="dropdown-item text" href="#">User Info</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text" href="#">Back to MSIMS Home</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text" href="/auth/logout">Logout</a>
                        </div>
                    </li>&nbsp;
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4" th:text="${title}"></h1>
                <p class="lead" th:text="${assessmentMap.size()} + ' assessment(s) in total'"></p>
            </div>
        </div>

        <!--<div id="table" class="container-fluid">
            <div class="row">
                <div id="component" class="col-6">
                    <div class="card-header"></div>
                    <div class="card-body">
                        <ul class="list-group" th:each="student : ${students}">
                            <li class="list-group-item">
                                <p th:text="${student.username}">
                                    <a class="btn btn-primary text-right" data-toggle="collapse"
                                       th:href="'#collapse' + ${studentStat.index}" role="button"
                                       aria-expanded="false">
                                        Check Submission
                                    </a>
                                    <a class="btn btn-primary text-right" data-toggle="collapse"
                                       th:href="'#collapse2' + ${studentStat.index}" role="button"
                                       th:if="${assessmentMap.get(student)} eq null" aria-expanded="false">
                                        Write Assessment
                                    </a>
                                    <a class="btn btn-primary text-right" data-toggle="collapse"
                                       th:href="'#collapse3' + ${studentStat.index}" role="button"
                                       th:if="${assessmentMap.get(student)} ne null" aria-expanded="false">
                                        Show Assessment
                                    </a>
                                </p>
                                <div class="collapse multi-collapse" th:id="'collapse2' + ${studentStat.index}">
                                    <div style="width: 90%; margin-left: 2%; margin-right: 2%">
                                        <form th:action="@{'/course/' + ${courseCode} + '/' + ${assignmentId} + '/write-assessment'}"
                                              th:object="${newAssessment}">

                                            <label for="score"></label>
                                            <input type="number" step="0.01" min="0" max="100"
                                                   class="form-control" id="score" name="score">
                                            <label for="comment"></label>
                                            <textarea class="form-control" name="comment" id="comment"
                                                      th:field="*{comment}" style="white-space: pre-wrap;"
                                                      rows="3" placeholder="Write your comment" required="required">
                                                                    </textarea><br>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="navbar-fixed-bottom page-footer font-small blue pt-4">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase">MUST Student Information Management System</h5>
                    <p>Something to say</p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">

                <div class="col-md-6 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Contact Me</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="mailto:l945457758@email.com">Email</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>-->
        <div id="table" class="container-fluid">
            <div class="row">
                <div id="component" class="col-6">
                    <ul th:if="${assessmentMap.size()} ne 0" class="list-group list-group-flush"
                        th:each="assessment : ${assessmentMap}">
                        <li class="list-group-item">
                            <div class="card">
                                <div class="card-header" th:text="${assessment.getKey().studentId}"></div>
                                <div class="card-body">
                                    <h5 class="card-title"></h5>
                                    <p class="card-text">
                                        <a th:href="@{'/file/download/' + ${assessment.getKey().getFileId()}}">
                                            <img src="/image/1.png" width="50" height="50" alt="file">
                                        </a>
                                    </p>
                                </div>
                                <div style="margin-left: 2%; margin-right: 2%">
                                    <form th:action="@{'/teacher/' + ${courseCode} + '/' + ${assignmentId} + '/update-assessment'}"
                                          th:object="${newAssessment}">
                                        <input type="hidden" class="form-control" name="assignmentId"
                                               th:value="${assessment.getKey().assignmentId}">
                                        <input type="hidden" class="form-control" name="submissionId"
                                               th:value="${assessment.getKey().id}">
                                        <label for="score2"></label>
                                        <input type="number" id="score2" class="form-control" name="score"
                                               step="0.01" min="0" max="100" th:value="${assessment.getValue().score}"
                                               disabled>
                                        <label for="comment2"></label>
                                        <textarea class="form-control" name="comment" id="comment2"
                                                  th:text="${assessment.getValue().comment}"
                                                  style="white-space: pre-wrap;"
                                                  rows="3" disabled>
                                        </textarea><br>
                                    </form><br>
                                    <p class="text-right" th:text="${assessment.getValue().getDate()}"></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <!-- Copyright -->
    <footer class="navbar-fixed-bottom page-footer font-small blue pt-4">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase">MUST Student Information Management System</h5>
                    <p>Something to say</p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">

                <div class="col-md-6 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Contact Me</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="mailto:l945457758@email.com">Email</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://lihanxiang.github.io"> LiHanxiang</a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"
            integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9+4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>