<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course Detail</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/teacher/course_detail.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class=" navbar-collapse ">
                <div>
                    <a class="navbar-brand" href="#">&nbsp;
                        <img src="/image/2.png" width="30" height="30" alt="">
                        Moodle
                    </a>
                </div>
                <div>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="course" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Course
                            </a>
                            <div class="dropdown-menu" aria-labelledby="course">
                                <a class="dropdown-item" href="/teacher/courses">My Course</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/student/gpa">My GPA</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/course/gpa">My Homework</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">My Assessment</a>
                            </div>
                        </li>
                        <li class="nav-item active dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="message" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Message
                            </a>
                            <div class="dropdown-menu" aria-labelledby="message">
                                <a class="dropdown-item" href="/course/courses">Bulletin Board</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/course/gpa">Discussion</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userIdDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${userId}">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userIdDropdown">
                            <a class="dropdown-item text" href="#">User Info</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text" href="#">Back to MSIMS Home</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text" href="/auth/logout">Logout</a>
                        </div>
                    </li>&nbsp;
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4" th:text="${course.getCourseName()}"></h1>
                <p class="lead" th:text="${course.getDescription()}"></p>
            </div>
        </div>

        <div id="table" class="container-fluid">
            <div class="row">
                <div id="component" class="col-6">
                    <ul class="list-group" th:each="component : ${fileMap}">
                        <li class="list-group-item">
                            <h5 class="mb-2" th:text="${component.getKey().type}"></h5>
                            <ul class="list-group file-group" th:each="file : ${component.getValue()}">
                                <li class="list-group-item">
                                    <a th:href="@{'/file/download/' + ${file.getFileId()}}">
                                        <img src="/image/1.png" width="20" height="20" alt="file"
                                             th:text="${' ' + file.getName()}">
                                    </a>
                                </li>
                            </ul>
                        </li>&nbsp;
                    </ul>
                </div>
                <div class="col-2"></div>
                <div id="side" class="col">
                    <div id="bulletin-board">
                        <div class="card border-secondary mb-3" style="width: 30rem;">
                            <div class="card-header">Bulletin Board</div>
                            <div class="card-body text-secondary">
                                <ul class="list-group list-group-flush" th:each="message : ${messages}">
                                    <li class="list-group-item">
                                        <div>
                                            <p class="mb-1" th:text="${message.content}"></p>
                                            <p class="text-right" th:text="${message.date}"></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="list-group">
                        <div class="card border-secondary mb-3" style="width: 30rem;">
                            <div class="card-header">
                                <a th:href="@{'/teacher/' + ${courseCode} + '/discussion'}">Discussion</a>
                            </div>
                            <div class="card-body text-secondary">
                                <ul class="list-group list-group-flush" th:each="dis : ${discussion}">
                                    <li class="list-group-item">
                                        <p class="card-text" th:text="${dis.title}"></p>
                                        <p class="text-right" th:text="${dis.date}"></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--<div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Sign In
                        </button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div>
                                        <form class="form-signin" action="#" th:action="@{/auth/login}" th:object="${user}" method="post">
                                            <p class="form-signin-heading" style="text-align: center" th:text="${message}"></p>
                                            <div class="form-group">
                                                <label for="userId" class="col-form-label">User ID:</label>
                                                <input type="text" class="form-control" id="userId" name="userId" required
                                                        th:field="*{userId}">
                                            </div>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!--<div id="discussion">
                        <div class="card border-secondary mb-3" style="max-width: 20rem;">
                            <div class="card-header">Discussion</div>
                            <div class="card-body text-secondary">
                                <div>&nbsp;
                                    <ul th:each="comment : ${comments}">
                                        <li>
                                            <ul th:each="content : ${comment.value}">
                                                <li >
                                                    <p th:text="${content.commenter} + ' : ' + ${content.content}"></p>
                                                </li>
                                            </ul>
                                        </li>&nbsp;
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <div id="timeline">
                        <div class="card border-secondary mb-3" style="width: 30rem;">
                            <div class="card-header">Timeline</div>
                            <div class="card-body text-secondary">
                                <div>&nbsp;
                                    <h5>Assignment xxx</h5>
                                    <p>XXX</p>
                                    <h5>Project xxx</h5>
                                    <p>XXX</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="navbar-fixed-bottom page-footer font-small blue pt-4">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase">MUST Student Information Management System</h5>
                    <p>Something to say</p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">

                <div class="col-md-6 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Contact Me</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="mailto:l945457758@email.com">Email</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://lihanxiang.github.io"> LiHanxiang</a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"
            integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9+4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>