<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class=" navbar-collapse">
            <div>
                <a class="navbar-brand" href="/">&nbsp;
                    <img src="../static/image/2.png" width="30" height="30" alt="">
                </a>
            </div>
            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">&nbsp;COES</a>
                    </li>&nbsp;
                    <li class="nav-item active">
                        <a class="nav-link" href="#">&nbsp;Moodle</a>
                    </li>&nbsp;
                    <li class="nav-item active">
                        <a class="nav-link" href="#">&nbsp;TOS</a>
                    </li>&nbsp;
                    <li class="nav-item active">
                        <a class="nav-link" href="#">&nbsp;Student Portal</a>
                    </li>&nbsp;
                </ul>
            </div>
        </div>
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" >
                    </a>
                </li>&nbsp;
            </ul>
        </div>
    </nav>
</header>